.nav {
  background: #00000029;
  width: 100%;
  position: relative;
}
.nav-title {
  width: 100%;
  display: flex;
  margin: auto;
}
.articles {
  display: flex;
  list-style: none;
  width: 1024px;
  margin: auto;
}

.articles > li {
  padding: 0 15px;
  line-height: 44px;
  height: 44px;
}

#navMenue,
#navMenue .WrappmenueList {
  background: #fff;
}
#navMenue .wrapper-adverse {
  background: #00000029;
}
.first-li-name {
  padding: 0;
}
.menueList {
  display: flex;
}
.wrapper-adverse {
  text-align: right;
  width: 100%;
  padding: 15px 0;
}
.adverse {
  text-align: right;
  width: 1024px;
  margin: auto;
}
