.nav-title {
  position: relative;
}
.WrappmenueList {
  position: absolute;
  width: 100%;
  height: 0;
  background: #00000029;
  display: none;
  left: 0;
  margin: auto;
  top: 44px;
}
.WrappmenueList > li {
  margin: 0;
  padding: 0;
  display: flex;
}
.menueList > li {
  width: 33%;
}
.nav-title .menueList {
  width: 1024px;
  margin: auto;
}
.WrappmenueList {
  display: none;
}
.active .WrappmenueList {
  display: block;
  height: auto;
  animation-name: animate;
  animation-duration: 0.5s;
}

/* .articleTitle {
  color: #ccc;
} */

@keyframes animate {
  0% {
    opacity: 0;
  }
  100% {
    height: auto;
    opacity: 1;
  }
}
